---
import type { CollectionEntry } from 'astro:content';

import PostHeader from '@/components/PostHeader.astro';
import RelatedPosts from '@/components/RelatedPosts.astro';
import PostNavigation from '@/components/PostNavigation.astro';

type Props = CollectionEntry<'posts'>['data'] & {
  id: string;
  nextPost?: CollectionEntry<'posts'>;
  prevPost?: CollectionEntry<'posts'>;
};

const { title, description, pubDate, nextPost, prevPost } = Astro.props;

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: title,
  creator: 'Christopher Parsons',
  description: description,
  datePublished: pubDate,
};
---

<article>
  <script is:inline type="application/ld+json" set:html={JSON.stringify(structuredData)} />

  <PostHeader {...Astro.props} />

  <div class="content" data-pagefind-body>
    <slot />
  </div>
</article>

<RelatedPosts id={Astro.props.id} tags={Astro.props.tags} />

<PostNavigation nextPost={nextPost} prevPost={prevPost} />

<style>
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1.5rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  ga .content {
    @media not (prefers-reduced-motion) {
      opacity: 0;
      animation: fadeInUp 0.25s ease-out forwards;
    }

    @media (min-width: 48rem) {
      margin-inline-start: 12rem;
      margin-block: 3rem;
    }
  }
</style>
