---
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'posts'>['data'] & { slug: string; isLink?: boolean };

const { isLink, title, pubDate, slug, tags } = Astro.props;
---

<div class="header" style={`view-transition-name: post-${slug};`}>
  <FormattedDate date={pubDate} />
  {
    isLink ? (
      <a href={`/til/posts/${slug}/`}>
        <h2 class="h1 title">{title}</h2>
      </a>
    ) : (
      <h1 class="h1 title">{title}</h1>
    )
  }
  <ul class="tag-list">
    {
      tags.sort().map((t) => (
        <li>
          <a href={`/til/tags/${t}/`}>#{t}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .header {
    @media (min-width: 48rem) {
      display: grid;
      grid-template-columns: 8rem 1fr;
      column-gap: 4rem;
      row-gap: 1rem;
    }

    > *:first-child {
      grid-row: span 2 / span 2;
    }
  }

  .title {
    margin-block: 0;
  }

  .tag-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
